the-clock {
    color: red;
}

the-calendar {
    color: red;
}

.clock-corpus {
    width: 522px;
    height: 100px;
    padding-top: 1px;
    background-image: radial-gradient(black, gray);
    margin: 20% auto;
    border-radius: 3px;
}

.face-clock {
    width: 90%;
    background-color: black;
    border-radius: 5px;
    margin: auto;
    margin-top: -80px;
}

.hidden {
    display: none;
}
