#the-calendar {
    width: 50%;
    margin: 20% auto 0;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    margin-bottom: 5px;
}

p {
    font-family: sans-serif;
    margin-top: 0;
    font-size: 64px;
}

#calendar-eu {
    transition: 1s;
}

#calendar-ua {
    transition: 1s;
}

#calendar-eu:hover {
    color: deepskyblue;
}

#calendar-ua:hover {
    color: deepskyblue;
}

.hidden {
    display: none;
}